.calendarSection h3 {
  color: var(--primary-contrast);
}

.calendarSection__calendar {
  margin-top: 1rem;
  min-height: 400px;
}

.timetable__date {
  display: flex;
  gap: 0.5rem;
}

.rbc-event.rbc-selected,
.rbc-event {
  color: var(--secondary-contrast);
  background-color: var(--tertiary);
}

.rbc-header {
  background-color: var(--tertiary);
  color: var(--secondary-contrast);
  padding: 0.5rem 0;
}

.rbc-off-range-bg {
  background-color: var(--primary);
}

.rbc-off-range {
  color: inherit;
}

.rbc-month-view {
  border: 1px solid #a4a4a4;
}

.rbc-header {
  border-bottom: 1px solid #a4a4a4;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #a4a4a4;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #a4a4a4;
}

.rbc-toolbar-label,
.rbc-header span {
  text-transform: capitalize;
}

.rbc-toolbar button {
  cursor: pointer;
}

.rbc-toolbar button:focus {
  background-color: transparent;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active,
.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus,
.rbc-toolbar button:hover {
  background-color: var(--tertiary);
}

.rbc-btn-group button:focus,
.rbc-btn-group button:focus-visible {
  outline: 2px solid rgba(38, 178, 79, 1);
}

.rbc-active {
  outline: rgba(38, 178, 79, 1) solid 1px;
}

.rbc-event-allday {
  background-color: rgba(38, 178, 79, 1);
  color: black;
  font-weight: 500;
}

.rbc-day-bg + .rbc-today,
.rbc-today {
  background-color: #0f76bfa5;
}

.rbc-date-cell.rbc-now {
  color: #fff;
}

.rbc-toolbar .rbc-btn-group button:hover {
  color: var(--secondary-contrast);
}

.rbc-toolbar .rbc-btn-group button:focus {
  color: var(--primary-contrast);
  background-color: transparent;
}

.rbc-toolbar .rbc-btn-group button:active {
  color: var(--secondary-contrast);
}

.rbc-toolbar .rbc-btn-group button {
  color: var(--primary-contrast);
}

.rbc-toolbar .rbc-btn-group .rbc-active {
  color: var(--secondary-contrast);
}

@media (max-width: 767px) {
  .calendarSection h3 {
    text-align: center;
  }

  .rbc-toolbar {
    gap: 0.5rem;
  }
}
