.footer {
  background-color: var(--octenary);
}

.footer__container {
  padding: 3rem 0 2rem;
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: start;

  justify-content: space-between;
  color: #fff;
  flex-wrap: wrap;
  gap: 1rem;
  column-gap: 2rem;
}

.footerLogo {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.footerLogo__container {
  justify-content: center;
  color: #fff;
  display: flex;
  gap: 0.5rem;
}

.footerLogo__container:hover .footer__title--color {
  color: var(--octenary-contrast);
}

.footer__picture {
  display: flex;
  width: 50px;
  height: 50px;
}

.footer__picture img {
  display: flex;
}

.footer__title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.footer__title--color {
  color: var(--quaternary);
}

.footer__title--size {
  font-size: 1rem;
}

.footer__content {
  justify-content: space-between;
  padding-top: 1rem;
  column-gap: 3rem;
  display: flex;
}

.footer__list {
  display: grid;
  row-gap: 0.7rem;
}

.footer__link {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer__link img {
  width: 20px;
  height: 20px;
  filter: var(--quaternary-filter);
}

.footer__link:hover img {
  filter: var(--sextenary-filter);
}

.footer__contact {
  display: grid;
  gap: 1rem;
}

.footer__copyright::before {
  content: "";
  position: absolute;
  top: 0;
  width: 90%;
  max-width: 1440px;
  height: 1px;
  background-color: #fff;
}

.footer__copyright {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  color: #fff;
}

.footer__copyright span {
  font-weight: bold;
}

@media (min-width: 375px) {
  .footer__container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .footer__container {
    width: 85%;
  }

  .footerLogo__container {
    justify-content: unset;
  }
}
