.legend {
  background-color: var(--legend-color);
}

.legend__container {
  padding: 1rem 0;
  color: #fff;
  width: 85%;
  margin: 0 auto;
}

.legend__paragraph--bold {
  font-weight: bold;
}

@media (min-width: 425px) {
  .legend__container {
    width: 90%;
  }
}
